.modalLogin{
  margin-top:100px
}
.modalLoginMain{
 margin-top: 50px;
 /*background-color: rgb(114, 207, 198);*/
 background-color:  rgb(255, 221, 41);
 box-shadow: 6px -5px 5px 0px rgba(0,0,0,0.75);
 }
 .inputLogin{
  /* background-color: rgb(191, 236, 250);*/
   margin-top: 50px;
   height: 50px;
   border-radius:15px;
   border-color: rgb(19, 19, 18);
 }
 .title{
   margin-top: 40px;
   text-align: center;
 }
 .btnLogin{
   margin-bottom: 50px;
   margin-top: 50px;
   width: 300PX;
   height: 50px;
   border-radius: 15px;
 }
